# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/
dist/
*.log
nbproject/private/
build/
nbbuild/
nb-configuration.xml
nbactions.xml
nbproject/private/private.properties
.idea/
*.properties
*.class